* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --brown: rgb(179, 143, 43);
    --carrot: 
}

body {
    background-color: rgb(42, 65, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--brown);
}

nav>button {
    background-color: rgb(202, 101, 28);
    border: solid 4px rgb(33, 81, 25);
    padding: 10px 30px;
    border-radius: 10px;
}

nav>button.button-active {
    background-color: rgb(84, 210, 30);
}


#content {
    background-color: var(--brown);
    padding: 40px;
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 8px black;
    border-radius: 50px;
    margin: 40px;
}

#content>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: solid 4px green;
    background-color: orange;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}


#content>h1 {
    background-color: rgb(255, 119, 0);
}

#content>h1, h2, h3 {
    width: 90%;
}

h1, h2, h3, p {
    margin: 10px;
    text-align: center; 
    word-break: break-word;
}

#content>*.new-section {
    margin-top: 100px;
}

#content>*.foo {
    border-radius: 100%;
}