* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --brown: rgb(179, 143, 43);
    --carrot: 
}

body {
    background-color: rgb(42, 65, 165);
}

nav {
    width: 100%;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--brown);
}

nav>button {
    background-color: rgb(202, 101, 28);
    border: solid 4px rgb(33, 81, 25);
    padding: 10px 30px;
    border-radius: 10px;
}

#content {
    min-width: 550px;
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 8px black;
    border-radius: 50px;
    min-height: 80vh;
    margin: 40px;

}

#content>* {
    width: 500px;
    border: solid 4px green;
    background-color: orange;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

#content>h1 {
    width: inherit;
}

h1, h2, h3, p {
    margin: 10px;
    text-align: center; 
}